@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary
}

.rounded-div {
  @apply rounded-2xl bg-primary px-2 max-w-[1140px] w-full mx-auto
}

.rounded-div-b {
  @apply border-b-2 border-t-2 border-darkish rounded-2xl bg-primary px-2 max-w-[1140px] w-full mx-auto
}


.dark {
  --color-bg-primary: #141816;
  --color-bg-secondary: #344a3c;
  --color-bg-light-black: #242524;
  --color-bg-darkish: #22C55E;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
  --color-bg-input: #4a5361;
  --color-bg-button: #81e6d9;
}

.light {
  --color-bg-primary: #E2DFD0;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #AF8F6F;
  --color-bg-input: #edf2f7;
  --color-bg-button: #543310;
}